<!-- updateFaculty.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Update Faculty</title>
</head>
<body>
  <h1>Update Faculty</h1>
  <form action="/faculties/<%= faculty._id %>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= faculty.name %>" required>
    <br>
    <label for="university">University:</label>
    <select name="university" required>
      <% universities.forEach(function(university) { %>
        <option value="<%= university._id %>" <%= (faculty.university.equals(university._id)) ? 'selected' : '' %>><%= university.name %></option>
      <% }); %>
    </select>
    <br>
    <input type="submit" value="Update Faculty">
  </form>
</body>
</html>
